<div id="slides-wrap" style="position: fixed; overflow: hidden; width: 100%">
    <main id="main" class="o-main c-page--news">
      <div class="c-slides c-slides--home">
        <div class="c-slides__wrap slides">
          <div
            class="c-slides__slide c-slides__slide--type-1 active go"
            data-index="0"
          >
            <section
              class="c-slide c-slide--type-1"
              style="background-color: #401922; color: #f2f1f0"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <div class="c-slide-line__l1"><span></span></div>

                  <div class="c-slide-line__l2"><span></span></div>
                </div>

                <div class="c-slide-an">
                  <div class="c-slide-an__c">
                    <span></span><span class="lastani"></span>
                  </div>
                </div>
              </div>

              <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h1 class="c-slide__title">
                        Sector shaping <br />
                        investment
                      </h1>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        Specialist Real Estate Investment Managers, who lead
                        the way in pre-empting the evolving landscape
                      </p>
                    </div>
                  </div>
                </div>

                 <div class="c-slide__more">
                  <div
                    class="o-container o-container--fluid"
                    style="z-index: 20"
                  >
                    <a class="c-btn--more">
                      <svg
                        width="12px"
                        height="16px"
                        viewBox="0 0 12 16"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <g
                          id="Symbols"
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <g
                            id="Icon/Arrow"
                            transform="translate(0.000000, 1.000000)"
                            fill="#FF585D"
                            fill-rule="nonzero"
                          >
                            <g
                              id="Group"
                              transform="translate(-2.643508, -1.960783)"
                            >
                              <polygon
                                id="Stroke-110"
                                transform="translate(8.486027, 8.303301) rotate(134.999997) translate(-8.486027, -8.303301) "
                                points="12.3751146 3 13.7893281 4.41421365 4.59693938 13.6066013 3.1827259 12.1923876"
                              ></polygon>
                              <polygon
                                id="Path-2"
                                points="12.8728027 9.25367667 14.2870163 10.6678902 8.64350815 16.3113984 3 10.6678902 4.41421356 9.25367667 8.64350815 13.4827835"
                              ></polygon>
                            </g>
                          </g>
                        </g></svg>Learn More</a>
                  </div>
                </div>
              </div>
            </section>
          </div>
           <div
            class="c-slides__slide c-slides__slide--type-2 active go"
            data-index="1"
          >
            <section
              class="c-slide c-slide--type-2"
              style="background-color: #f2f1f0; color: #401922"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <svg
                    width="842px"
                    height="547px"
                    viewBox="0 0 842 547"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    data-llp-composed="true"
                    id="slide2"
                    class="lazy-line-painter"
                  >
                    <g
                      id="Desktop"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linejoin="round"
                    >
                      <g
                        id="Home"
                        transform="translate(-598.000000, -810.000000)"
                        stroke="#FF585D"
                        stroke-width="3"
                      >
                        <g
                          id="Areas-of-Expertise"
                          transform="translate(-5.000000, 805.000000)"
                        >
                          <polyline
                            vector-effect="non-scaling-stroke"
                            id="Animated-Line"
                            points="605 6 883.061715 468.5 1485 556"
                            data-llp-id="slide2-0"
                            data-llp-duration="300"
                            data-llp-delay="0"
                            fill-opacity="0"
                            style=""
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  <div class="c-slide-line__l1"></div>
                </div>

                <div class="c-slide-an">
                  <div class="c-slide-an__c">
                    <span></span><span class="lastani"></span>
                  </div>
                </div>
              </div>

              <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        Our areas <br />
                        of expertise
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        We research and implement emerging strategies to
                        consistently deliver market-leading returns, working
                        across four key competencies.
                      </p>
                    </div>

                    <div class="c-slide__actions">
                      <a
                        class="c-btn c-btn--primary c-btn--primary-white"
                        href="what-we-do/index.html"
                        target=""
                      >
                        <span class="c-btn__bg"></span>
                        <span class="c-btn__t">Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="c-slides__slide c-slides__slide--type-3 active go"
            data-index="2"
          >
            <section
              class="c-slide c-slide--type-3"
              style="background-color: #fff; color: #401922"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <svg
                    width="1440px"
                    height="651px"
                    viewBox="0 0 1440 651"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    data-llp-composed="true"
                    id="slide3"
                    class="lazy-line-painter"
                  >
                    <g
                      id="Desktop"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linejoin="round"
                    >
                      <g
                        id="Home"
                        transform="translate(0.000000, -1708.000000)"
                        stroke="#FF585D"
                        stroke-width="3"
                      >
                        <g
                          id="What-Sets-us-Apart"
                          transform="translate(-5.000000, 1615.000000)"
                        >
                          <polyline
                            vector-effect="non-scaling-stroke"
                            id="Animated-Line"
                            transform="translate(725.000000, 418.500000) scale(-1, 1) translate(-725.000000, -418.500000) "
                            points="5 95 609.9375 502.101124 1445 742"
                            data-llp-id="slide3-0"
                            data-llp-duration="850"
                            data-llp-delay="0"
                            fill-opacity="0"
                            style=""
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  <div class="c-slide-line__l1"></div>
                </div>
              </div>

              <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        What sets <br />
                        us apart
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        A team of committed, highly focused investment
                        managers who are setting the direction of travel in
                        the investment market.
                      </p>
                    </div>

                     <div class="c-slide__actions">
                      <a
                        class="c-btn c-btn--primary"
                        href="about-khans-group/index.html"
                        target=""
                      >
                        <span class="c-btn__bg"></span>
                        <span class="c-btn__t">Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="c-slides__slide c-slides__slide--type-4 active go"
            data-index="3"
          >
            <section
              class="c-slide c-slide--type-4"
              style="background-color: #f2f1f0; color: #401922"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <svg
                    width="1440px"
                    height="721px"
                    viewBox="0 0 1440 721"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    data-llp-composed="true"
                    id="slide4"
                    class="lazy-line-painter"
                  >
                    <g
                      id="Desktop"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linejoin="round"
                    >
                      <g
                        id="Home"
                        transform="translate(0.000000, -2457.000000)"
                        stroke="#FF585D"
                        stroke-width="3"
                      >
                        <g
                          id="Track-Record"
                          transform="translate(-5.000000, 2425.000000)"
                        >
                          <polyline
                            vector-effect="non-scaling-stroke"
                            id="Animated-Line"
                            points="0 17 159.949746 751 1450 525.942663"
                            data-llp-id="slide4-0"
                            data-llp-duration="310"
                            data-llp-delay="0"
                            fill-opacity="0"
                            style=""
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>

               <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        Our track <br />
                        record
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        Our consistent market-leading returns are proof of our
                        commitment to deliver excellence. We combine our
                        collective, diverse experience and insight to lead
                        from the front. You can download our track record
                        here.
                      </p>
                      <div class="form-msg"></div>
                      <div class="c-slide__form">
                        <div
                          role="form"
                          class="wpcf7"
                          id="wpcf7-f135-o1"
                          lang="en-GB"
                          dir="ltr"
                        >
                          <div class="screen-reader-response">
                            <p
                              role="status"
                              aria-live="polite"
                              aria-atomic="true"
                            ></p>
                            <ul></ul>
                          </div>
                          <form
                            action="https://www.khans-groupcapital.com/#wpcf7-f135-o1"
                            method="post"
                            class="wpcf7-form init"
                            novalidate="novalidate"
                            data-status="init"
                          >
                            <div style="display: none">
                              <input
                                type="hidden"
                                name="_wpcf7"
                                value="135"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_version"
                                value="5.6"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_locale"
                                value="en_GB"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_unit_tag"
                                value="wpcf7-f135-o1"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_container_post"
                                value="0"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_posted_data_hash"
                                value=""
                              />
                            </div>
                            <div class="">
                              <div class="form-label">
                                <label>Name*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="your-name"
                                  ><input
                                    type="text"
                                    name="your-name"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-label">
                                <label>Company*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="company"
                                  ><input
                                    type="text"
                                    name="company"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-label form-label--type-email">
                                <label>Email*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="your-email"
                                  ><input
                                    type="email"
                                    name="your-email"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-accept">
                                <label
                                  ><span
                                    >I agree to the terms of the
                                    <a
                                      href="privacy-policy/index.html"
                                      target="_blank"
                                      >Privacy Policy</a
                                    ></span
                                  ><span
                                    class="wpcf7-form-control-wrap"
                                    data-name="acceptance-97"
                                    ><span
                                      class="wpcf7-form-control wpcf7-acceptance"
                                      ><span class="wpcf7-list-item"
                                        ><input
                                          type="checkbox"
                                          name="acceptance-97"
                                          value="1"
                                          aria-invalid="false" /></span></span></span
                                ></label>
                              </div>
                              <p>
                                <span
                                  id="wpcf7-6435e7199f194-wrapper"
                                  class="wpcf7-form-control-wrap email-814-wrap"
                                  style="
                                    display: none !important;
                                    visibility: hidden !important;
                                  "
                                  ><label
                                    for="wpcf7-6435e7199f194-field"
                                    class="hp-message"
                                    >Please leave this field empty.</label
                                  ><input
                                    id="wpcf7-6435e7199f194-field"
                                    class="wpcf7-form-control wpcf7-text"
                                    type="text"
                                    name="email-814"
                                    value=""
                                    size="40"
                                    tabindex="-1"
                                    autocomplete="new-password"
                                /></span>
                              </p>
                              <p>
                                <button
                                  type="submit"
                                  class="c-btn c-btn--primary c-btn--primary-white"
                                >
                                  <span class="c-btn__bg"></span>
                                  <span class="c-btn__t">Submit</span>
                                </button>
                              </p>
                            </div>
                            <div
                              class="wpcf7-response-output"
                              aria-hidden="true"
                            ></div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="c-slide__actions"></div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

         <nav class="c-slides-nav">
          <div class="o-container">
            <div class="c-slides-nav__wrap">
              <div class="c-slides-nav__row" data-index="1">
                <span class="text">What we do</span
                ><span class="num"><span></span></span>
              </div>
              <div class="c-slides-nav__row" data-index="2">
                <span class="text">About</span
                ><span class="num"><span></span></span>
              </div>
              <div class="c-slides-nav__row" data-index="3">
                <span class="text">Our experience</span
                ><span class="num"><span></span></span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </main>





     <footer class="c-footer c-footer--kl-no">
      <div class="o-container">
        <div class="c-footer__wrap">
          <div class="c-footer__wrap-1">
            <a href="index.html" class="c-footer__logo">
              <svg
                width="88px"
                height="40px"
                viewBox="0 0 88 40"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Symbols"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="D/Nav/MainMenu/Dark"
                    transform="translate(-71.000000, -38.000000)"
                    fill="#ffffff"
                    fill-rule="nonzero"
                  >
                    <g
                      id="Logo/Dark"
                      transform="translate(71.000000, 38.000000)"
                    >
                      <path
                        d="M26.2004421,25.0936258 C26.2004421,31.9390642 21.4734484,35.984494 13.3509572,35.984494 C4.74021172,35.984494 0.190496377,32.2949605 0.612455961,25.6493245 L1.33708152,25.5669622 L9.10852446,25.1309231 C9.60712003,27.5482802 10.4890802,29.0941138 13.8835927,29.0941138 C15.8809296,29.0941138 17.0792825,28.0941151 17.0792825,26.8049237 C17.0792825,25.5826209 15.9475321,24.7379145 12.3522272,23.7378541 L8.77932828,22.7376705 C5.20624469,21.7374252 0.767759248,19.7369962 0.812140409,13.6248038 C0.85652157,7.00142293 5.13945751,3.53400861 12.8627644,3.53400861 C21.2958006,3.53400861 25.690028,7.11263665 25.1352327,13.5802937 L17.2799518,14.0210798 C16.9816563,11.8470489 15.5958068,10.4243271 12.7295594,10.4243271 C10.7322225,10.4243271 9.60041054,11.313297 9.60041054,12.3802459 C9.60041054,13.3803063 10.4659355,14.2027576 14.3717855,15.1807478 L18.0557912,16.0919729 C21.7175755,17.0031979 26.2004421,18.6257221 26.2004421,25.0936258 Z M81.7702725,19.3591532 L81.7702725,18.9591167 C85.2323724,18.0700851 86.9189181,15.7139449 86.9189181,11.7355269 L86.9189181,11.6465683 C86.9189181,6.17909491 83.1683715,3.53363872 75.3787698,3.53363872 C66.8346268,3.53363872 62.8621743,6.86758425 63.1950638,14.4467003 L71.8945101,15.002399 C71.6948256,11.8908809 72.8266376,10.4239572 75.0680401,10.4239572 C76.9545164,10.4239572 78.0196028,11.4684661 78.0196028,13.3354263 L78.0196028,13.4244465 C78.0196028,15.357987 77.0432172,16.3581707 75.0459419,16.4693844 L73.0485434,16.5803515 L73.0485434,22.2925074 L75.0459419,22.4034745 C77.0432172,22.5144416 78.330394,23.4034732 78.330394,25.7596135 L78.330394,25.8484488 C78.330394,27.9378364 77.2207419,29.0934357 75.2456263,29.0934357 C72.9153999,29.0934357 71.6948256,27.4710964 71.8279691,24.1369042 L62.6624283,24.8036317 C62.4849653,32.5606034 66.6573484,35.9835076 75.4675937,35.9835076 C83.8120522,35.9835076 87.8289474,33.094047 87.8289474,27.1373936 L87.8289474,27.0486199 C87.8289474,22.8263825 85.8536471,20.3148883 81.7702725,19.3591532 Z M52.7076292,4.13656009 L51.0140047,17.3934939 C50.6451056,20.2856053 50.4241846,22.6745425 50.2067724,25.7468522 L47.2472691,7.08230563 L50.3699547,0.290439641 L48.4371274,0.290439641 L38.6950624,21.5303482 L36.1228633,4.13656009 L26.7857072,4.13656009 L32.5423931,34.9444854 L30.5777419,39.2279396 L32.4674807,39.2279396 L41.9129121,18.6847813 L44.6916283,35.3818192 L56.1171612,35.3818192 L61.6884434,4.13656009 L52.7076292,4.13656009 Z"
                        id="vandor-Logo"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>

          <div class="c-footer__wrap-2">
            <ul class="c-footer__menu-1">
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"
              >
                <a href="about-khans-group/index.html">About</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"
              >
                <a href="what-we-do/index.html">What we do</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"
              >
                <a href="contact/index.html">Contact</a>
              </li>
            </ul>
          </div>

          <div class="c-footer__wrap-3">
            <aside class="c-footer__widget c-wysiwyg">
              <h5 class="c-footer__widget-title">Dublin</h5>
              <div class="textwidget">
                <p>
                  6th Floor Embassy House<br />
                  Ballsbridge<br />
                  Dublin, D04 H6Y0<br />
                  Ireland
                </p>
              </div>
            </aside>
            <aside class="c-footer__widget c-wysiwyg">
              <h5 class="c-footer__widget-title">London</h5>
              <div class="textwidget">
                <p>
                  67-68 Grosvenor St.<br />
                  London, W1K 3JN<br />
                  United Kingdom
                </p>
              </div>
            </aside>
          </div>
        </div>

        <nav class="c-footer__nav-secondary">
          <ul class="">
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-95"
            >
              <a href="privacy-policy/index.html">Privacy Policy</a>
            </li>
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"
            >
              <a href="#">Disclaimer</a>
            </li>

            <li>© 2012–2023</li>
          </ul>
        </nav>

        <p class="c-footer__by">
          Designed by
          <a href="https://rowdystudio.com/" target="_blank">Rowdy Studio</a>
        </p>
      </div>
    </footer>
  </div>


<!-- separated files -->



      <!-- <div class="c-slide-an">
                  <div class="c-slide-an__c">
                    <span></span><span class="lastani"></span>
                  </div>
                </div>
              </div> -->

              <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        Our areas <br />
                        of expertise
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        We research and implement emerging strategies to
                        consistently deliver market-leading returns, working
                        across four key competencies.
                      </p>
                    </div>

                    <div class="c-slide__actions">
                      <a
                        class="c-btn c-btn--primary c-btn--primary-white"
                        href="what-we-do/index.html"
                        target=""
                      >
                        <span class="c-btn__bg"></span>
                        <span class="c-btn__t">Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="c-slides__slide c-slides__slide--type-3 active go"
            data-index="2"
          >
            <section
              class="c-slide c-slide--type-3"
              style="background-color: #fff; color: #401922"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <!-- <svg
                    width="1440px"
                    height="651px"
                    viewBox="0 0 1440 651"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    data-llp-composed="true"
                    id="slide3"
                    class="lazy-line-painter"
                  > -->
                    <g
                      id="Desktop"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linejoin="round"
                    >
                      <g
                        id="Home"
                        transform="translate(0.000000, -1708.000000)"
                        stroke="#FF585D"
                        stroke-width="3"
                      >
                        <g
                          id="What-Sets-us-Apart"
                          transform="translate(-5.000000, 1615.000000)"
                        >
                          <polyline
                            vector-effect="non-scaling-stroke"
                            id="Animated-Line"
                            transform="translate(725.000000, 418.500000) scale(-1, 1) translate(-725.000000, -418.500000) "
                            points="5 95 609.9375 502.101124 1445 742"
                            data-llp-id="slide3-0"
                            data-llp-duration="850"
                            data-llp-delay="0"
                            fill-opacity="0"
                            style=""
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  <!-- <div class="c-slide-line__l1"></div> -->
                </div>
              </div>

              <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        What sets <br />
                        us apart
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        A team of committed, highly focused investment
                        managers who are setting the direction of travel in
                        the investment market.
                      </p>
                    </div>

                     <div class="c-slide__actions">
                      <a
                        class="c-btn c-btn--primary"
                        href="about-khans-group/index.html"
                        target=""
                      >
                        <span class="c-btn__bg"></span>
                        <span class="c-btn__t">Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div
            class="c-slides__slide c-slides__slide--type-4 active go"
            data-index="3"
          >
            <section
              class="c-slide c-slide--type-4"
              style="background-color: #f2f1f0; color: #401922"
            >
              <div class="c-slide__ag">
                <div class="c-slide-line" style="">
                  <svg
                    width="1440px"
                    height="721px"
                    viewBox="0 0 1440 721"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    data-llp-composed="true"
                    id="slide4"
                    class="lazy-line-painter"
                  >
                    <g
                      id="Desktop"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linejoin="round"
                    >
                      <g
                        id="Home"
                        transform="translate(0.000000, -2457.000000)"
                        stroke="#FF585D"
                        stroke-width="3"
                      >
                        <g
                          id="Track-Record"
                          transform="translate(-5.000000, 2425.000000)"
                        >
                          <polyline
                            vector-effect="non-scaling-stroke"
                            id="Animated-Line"
                            points="0 17 159.949746 751 1450 525.942663"
                            data-llp-id="slide4-0"
                            data-llp-duration="310"
                            data-llp-delay="0"
                            fill-opacity="0"
                            style=""
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>

               <div class="c-slide__wrap">
                <div
                  class="o-container o-container--fluid"
                  style="z-index: 20"
                >
                  <div class="container--narrow-1">
                    <header class="c-slide__header">
                      <h2 class="c-slide__title">
                        Our track <br />
                        record
                      </h2>
                    </header>

                    <div class="c-slide__copy c-wysiwyg">
                      <p>
                        Our consistent market-leading returns are proof of our
                        commitment to deliver excellence. We combine our
                        collective, diverse experience and insight to lead
                        from the front. You can download our track record
                        here.
                      </p>
                      <div class="form-msg"></div>
                      <div class="c-slide__form">
                        <div
                          role="form"
                          class="wpcf7"
                          id="wpcf7-f135-o1"
                          lang="en-GB"
                          dir="ltr"
                        >
                          <div class="screen-reader-response">
                            <p
                              role="status"
                              aria-live="polite"
                              aria-atomic="true"
                            ></p>
                            <ul></ul>
                          </div>
                          <form
                            action="https://www.khans-groupcapital.com/#wpcf7-f135-o1"
                            method="post"
                            class="wpcf7-form init"
                            novalidate="novalidate"
                            data-status="init"
                          >
                            <div style="display: none">
                              <input
                                type="hidden"
                                name="_wpcf7"
                                value="135"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_version"
                                value="5.6"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_locale"
                                value="en_GB"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_unit_tag"
                                value="wpcf7-f135-o1"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_container_post"
                                value="0"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_posted_data_hash"
                                value=""
                              />
                            </div>
                            <div class="">
                              <div class="form-label">
                                <label>Name*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="your-name"
                                  ><input
                                    type="text"
                                    name="your-name"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-label">
                                <label>Company*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="company"
                                  ><input
                                    type="text"
                                    name="company"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-label form-label--type-email">
                                <label>Email*</label
                                ><span
                                  class="wpcf7-form-control-wrap"
                                  data-name="your-email"
                                  ><input
                                    type="email"
                                    name="your-email"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                    aria-required="true"
                                    aria-invalid="false"
                                /></span>
                              </div>
                              <div class="form-accept">
                                <label
                                  ><span
                                    >I agree to the terms of the
                                    <a
                                      href="privacy-policy/index.html"
                                      target="_blank"
                                      >Privacy Policy</a
                                    ></span
                                  ><span
                                    class="wpcf7-form-control-wrap"
                                    data-name="acceptance-97"
                                    ><span
                                      class="wpcf7-form-control wpcf7-acceptance"
                                      ><span class="wpcf7-list-item"
                                        ><input
                                          type="checkbox"
                                          name="acceptance-97"
                                          value="1"
                                          aria-invalid="false" /></span></span></span
                                ></label>
                              </div>
                              <p>
                                <span
                                  id="wpcf7-6435e7199f194-wrapper"
                                  class="wpcf7-form-control-wrap email-814-wrap"
                                  style="
                                    display: none !important;
                                    visibility: hidden !important;
                                  "
                                  ><label
                                    for="wpcf7-6435e7199f194-field"
                                    class="hp-message"
                                    >Please leave this field empty.</label
                                  ><input
                                    id="wpcf7-6435e7199f194-field"
                                    class="wpcf7-form-control wpcf7-text"
                                    type="text"
                                    name="email-814"
                                    value=""
                                    size="40"
                                    tabindex="-1"
                                    autocomplete="new-password"
                                /></span>
                              </p>
                              <p>
                                <button
                                  type="submit"
                                  class="c-btn c-btn--primary c-btn--primary-white"
                                >
                                  <span class="c-btn__bg"></span>
                                  <span class="c-btn__t">Submit</span>
                                </button>
                              </p>
                            </div>
                            <div
                              class="wpcf7-response-output"
                              aria-hidden="true"
                            ></div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="c-slide__actions"></div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>