@font-face {
  font-family: 'Right Grotesk Text';
  src: url(../fonts/RightGrotesk-Text.woff2) format("woff2"), url(../fonts/RightGrotesk-Text.woff) format("woff"), url(../fonts/RightGrotesk-Text.ttf) format("truetype"), url("../fonts/RightGrotesk-Text.svg#RightGrotesk-Text") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Right Grotesk Text';
  src: url(../fonts/RightGrotesk-TextBold.woff2) format("woff2"), url(../fonts/RightGrotesk-TextBold.woff) format("woff"), url(../fonts/RightGrotesk-TextBold.ttf) format("truetype"), url("../fonts/RightGrotesk-TextBold.svg#RightGrotesk-TextBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Right Grotesk Spatial';
  src: url(../fonts/RightGrotesk-SpatialBold.woff2) format("woff2"), url(../fonts/RightGrotesk-SpatialBold.woff) format("woff"), url(../fonts/RightGrotesk-SpatialBold.ttf) format("truetype"), url("../fonts/RightGrotesk-SpatialBold.svg#RightGrotesk-SpatialBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Right Grotesk Spatial';
  src: url(../fonts/RightGrotesk-SpatialMedium.woff2) format("woff2"), url(../fonts/RightGrotesk-SpatialMedium.woff) format("woff"), url(../fonts/RightGrotesk-SpatialMedium.ttf) format("truetype"), url("../fonts/RightGrotesk-SpatialMedium.svg#RightGrotesk-SpatialMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

 /* @font-face {
   font-family: 'Termina Test';
   src: url(../fonts/TerminaTest/TerminaTest-Black.otf) format("opentype");

 }

 @font-face {
   font-family: 'Termina Test Bold';
   src: url(../fonts/TerminaTest/TerminaTest-Bold.otf) format("opentype");
 }

 @font-face {
   font-family: 'Termina Test Medium';
   src: url(../fonts/TerminaTest/TerminaTest-Medium.otf) format("opentype");
 } */

 .c-footer .font-termina {
   font-family: "Right Grotesk Spatial";
 }

 .c-footer__menu-1 .font-termina {
   font-family: "Right Grotesk Spatial";
 }


  /* @font-face {

    font-family: 'Right Grotesk Spatial';
    src: url(../fonts/Neue-montreal/NeueMontreal-Regular.otf) format("opentype");
    }
    @font-face {
  
      font-family: 'Neue Montreal Bold';
      src: url(../fonts/Neue-montreal/NeueMontreal-Bold.otf) format("opentype");
      }
    @font-face {
  
      font-family: 'Neue Montreal Regular';
      src: url(../fonts/Neue-montreal/NeueMontreal-Regular.otf) format("opentype");
    }
    @font-face {
  
      font-family: 'Neue Montreal Medium';
      src: url(../fonts/Neue-montreal/NeueMontreal-Medium.otf) format("opentype");
     }
     @font-face {
  
      font-family: 'Neue Montreal Light';
      src: url(../fonts/Neue-montreal/NeueMontreal-Light.otf) format("opentype");
    } */
  .about-ul-a li a{
    text-decoration: none;
    color: none;
  }
  .about-h-a{
    text-decoration: none;
    color: white;
  }
  .about-h-a:hover{
    color: white;
  }
  /* .about-h-a a:hover{
    color: white;
  } */
  .third-section .row{
    display: flex;
    /* justify-content: space-evenly; */
  }
  body{
  /* background: #401922; */
  color: white !important;
  margin: 0px;
  padding: 0px;
  }
  .third-section{
  padding-top:150px;
  padding-bottom: 90px;
  background: #401922;
  }
  
  .third-section .main-body-heading h1{
    font-weight: 700;
    font-size: 64px ;
    /* font-family: 'Right Grotesk Text Bold'; */
    /* margin-left: 60px; */
    padding-bottom: 40px;
  }
  .third-section .img-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .third-section .main-image-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
  
  }
  .third-section .container-wrapper{
    /* background: #ED254E; */
    /* border: 2px solid;
    border-color: #ED254E;
    border-radius: 0px 90px 90px 0px; */
    /* padding: 25px 0px; */
    font-size: 34px ;
    margin: 10px 0px;
    
    /* width: 85%; */
    font-family: 'Garamond';
    /* text-align: center; */
  
  }
  
  .third-section .inner-wrapper{
  text-align: center;
  display: flex;
  background-color:  #ED254E;;
  width: 75%;
  border-radius: 2px solid;
  border-radius: 0px 90px 90px 0px;
  padding: 25px 0px;
  
  }
  /* .third-section .slider-heading{
    margin-top: 96px;
  } */
  .third-section .text-wrapper{
    /* line-height: 45px; */
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Right Grotesk Text Medium';
  }
  .third-section .text-wrapper h2{
  font-size: 24px !important;
  letter-spacing: 2px !important;
  }
  .third-section .text-wrapper p{
  font-size: 16px !important;
  text-align: center;
  }
  .third-section .lower-portion .img-wrapper{
  padding-bottom: 20px;
  }
  
  .third-section .img-wrapper img{
  width: 11%;
  }
  .c-footer ul li a{
  color: white !important;
  }
  .c-footer  a{
  color: white !important;
  }
  #reput-exc-head{
  font-size: 3.6875rem !important;      /* changes from my side */
  /* font-family: 'Neue Montreal Bold'; */
  
  }
  #reput-exc-head-para{
  font-family: "Right Grotesk Text", sans-serif;
  font-style: normal;
  }
  #reput-exc-main-head{
  /* font-family: 'Right Grotesk Text Bold' !important; */
  font-style: normal;
  text-transform: none;
  
  }
  .c-page-header .c-slide__more .c-btn--more {    /*  changes from my side*/
  font-family: 'Termina Test Bold' !important;
  font-style: normal;
  font-size: 18px;
  /* margin-top: 60px; */
  
  }
  #about-para{
  font-family: "Right Grotesk Text", "sans-serif" !important;
  font-style: normal;
  }
  
  
  /* #about-title-head{
  font-family: 'Right Grotesk Text Bold' !important;
  
  } */
  #about-title-head1{
  /* font-family: 'Right Grotesk Text Bold' !important; */
  font-style: normal;
  }
  #our-approch-para{
  font-family: "Right Grotesk Text", "sans-serif" !important;
  font-style: normal;
  
  }
  /* .what-set-main-head h1{
  font-family: 'Right Grotesk Text Bold' !important;
  } */
  /* .what-set-inner-head{
  font-family: 'Right Grotesk Text Bold' !important;
  } */
  #what-set-apart-fourth-section .col-lg-6  p{
  font-family: "Right Grotesk Text", "sans-serif" !important;
  font-style: normal;
  font-weight: 400;
  }
  /* .c-slides-nav .text{
  font-family: 'Termina Test Bold' !important;
  } */
  .c-page-header__copy {
  color: black;    
  }
  .c-slides-nav__row .num>span {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 88, 93) !important;
    display: block;
    border-radius: 50%
  }
  #about-slide-nav:nth-child(1) .text{
    color: white;
    font-weight: 700;
  }
  @media (min-width:48em) {       /* changes from my side */
  .c-page-header__copy {
     margin-top: 70px;
     max-width: 532px;
     font-size: 1.4rem !important;
  }
  }
  .c-page-header__t {
  /* max-width: 780px; */
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0;
  color: black;        /* changes from my side */
  font-style: normal;
  font-weight: 800;
  }
  .c-page-header__st-t {
  margin: 0;
  color: black;        /* changes from my side */
  font-weight: 800;
  }
  #location-first-heading{
    font-family: "Termina Test Medium";
    color: white;
    text-transform: none;
  }
  #location-second-heading{
    color: white;
    text-transform: none;
    font-family: 'Right Grotesk Text Bold';
  }
  
  .py--100,
  /* .c-page-header__wrap,  changes from my side*/
  .c-tci {
  padding-top: 50px !important;
  padding-top: 3.125rem !important;
  padding-bottom: 50px !important;
  padding-bottom: 3.125rem !important
  }
  @media (min-width:61.25em) {
  
  .py--100,
  /* .c-page-header__wrap,  changes from my side*/
  .c-tci {
   padding-top: 60px !important;
   padding-top: 3.25rem !important;
   padding-bottom: 100px !important;
   padding-bottom: 6.25rem !important
  }
  }
  .pb--160,
  .c-page-header__wrap {
  /* padding-bottom: 160px !important;
  padding-bottom: 10rem !important;  changes from my side*/
  padding-bottom: 160px !important;
  padding-bottom: 5rem !important;
  }
  @media (min-width:27em) and (max-width: 48em){
  .u-3\/12\@tablet, .c-tci--type-list .c-tci__title, .c-footer__wrap-1, .c-footer__wrap-2 {
  width: 20% !important;
  }
  }
  @media (max-width:425px){
  .third-section .main-body-heading h1{
    font-weight: 700;
    font-size: 28px;
    margin-left: 9px;
    padding-top: 20%;
    padding-bottom: 20%;
  
  }
  .third-section .text-wrapper {
    line-height: 14px;
    letter-spacing: 3px;
  }
  .third-section .text-wrapper h2{
    font-size: 10px !important;
    line-height: 15px;
  }
  .third-section .text-wrapper p{
    font-size: 8px !important;
  }
  .third-section .main-image-wrapper img{
    width: 100%;
  }
  .third-section .img-wrapper img{
    width: 19%;
  }
  .third-section .container-wrapper{
    font-size: 15px;
  }
  .third-section #empty-col{
    display: none;
  }
  .third-section .inner-wrapper {
   width:97%;
  }
  .third-section{
   padding-top: 100px;
   padding-bottom: 70px;
  
  }
  .c-footer ul{
   padding-left: 0px;
   color: white !important;
  }
  .third-section .row .col-lg-3{
   width: 33%;
  }
  
  }
  @media(min-width:426px) and (max-width:768px){
  .third-section .main-image-wrapper img{
    width: 100%;
  }
  .third-section .container-wrapper{
    font-size: 24px;
  }
  .third-section .text-wrapper {
    line-height: 25px;
  }
  .third-section .main-body-heading h1 {
    font-size: 50px;
    margin-left: 9px;
    padding-top: 0%;                             /* change when writing media query for laptop screen 8 to 0 percent*/
    padding-bottom: 8%;
  }
  .third-section .inner-wrapper {
   width:98%;
  }
  .third-section #empty-col{
    display: none;
  }
  .third-section .main-image-wrapper img{
   width: 100%;
  }
  .third-section .img-wrapper img{
   width: 9%;
  }
  .third-section .text-wrapper h2{
   font-size: 18px !important;
   line-height: 40px;
  }
  .third-section .text-wrapper p{
   font-size: 10px !important;
  }
  /* .third-section{
   padding-top:80px;
   padding-bottom: 70px;
  
  } */
  #our-approch-para{
   font-size: 20px !important;
   padding-bottom: 0px;
  }
  #about-title-head1{
   font-size: 20px !important;
   padding-bottom: 10px !important;
   padding-top: 190px !important;              /* Changes from new */
  }
  #about-title-head{
   font-size: 54px;
  }
  .c-slide-line svg {
   margin-top: 38%;                              /* Changes from new svg line */
  }
  .c-page-header__copy {                        
   max-width: 650px;                              /* Changes from about khan paragraph right to align  */
   
  }
  
  }
  
  @media(min-width:769px) and (max-width:1024px){
  .c-slide-line svg {
   margin-top: 17%;                              /* Changes from new svg line */
  }
  }
  @media(min-width:1025px) and (max-width:1440px){
  .c-slide-line svg {
   margin-top: 10%;                              /* Changes from new svg line */
  }
  }
  
  
  
  @media(max-width:320px){
  .c-slide-line svg {
     margin-top: 113% !important;
  }
  #our-approach-sec .c-tci__wrap {
  
   margin-top: 53% !important;
  }
  #our-approach-sec #about-para {
  
   margin-top: 53% !important;
  }
  .third-section .middle-portion .row .inner-wrapper :nth-child(1){
   margin-left: 12px;
   text-align: right;
  }
  .third-section .middle-portion .row .inner-wrapper :nth-child(3){
    margin-right: 8px;

   }
  }
  
  @media(max-width:425px){
  #reput-exc-head {
   font-size: 1.6875rem !important;
  }
  .c-page-header__st {
  padding-top: 5.625rem;
  }
  .c-page-header .c-slide__more .c-btn--more {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 0px;
  }
  .pb--160, .c-page-header__wrap {
  padding-bottom: 2rem !important;
  }
  #our-approach-sec .c-tci__wrap {
  
  margin-top: 48% !important;
  }
  #our-approach-sec #about-para {
  
  margin-top: 45% !important;
  }
  .c-slide-line svg {
  margin-top: 92%;                              /* Changes from new svg line */
  }
  .c-page-header__t {
  margin-top: 30%;
  }
  }
  @media(min-width:426px) and (max-width:768px){
  #reput-exc-head {
  font-size: 2.6875rem !important;
  font-weight: 900 !important;
  }
  }
  #what-set-apart-head{
  width: 100% !important;
  margin-top: 40px !important;
  }
  #what-set-apart-fourth-section{
  color: white;
  margin-top: 5rem;
  }
  @media (min-width:61.25em) {
  
  .mb--80,
  .c-tci__list .what-set-list {
     margin-bottom: 4rem !important;
     margin-top: 4rem !important;
  }
  }
  @media (min-width: 64em){      /* changes from my side 78 em to 64em*/
  .c-tci__list .what-set-list{
   max-width: 650px !important;
   
  }
  }
  .c-tci__list .what-set-list h4 {
  margin-bottom: 20px !important;
  font-weight: 800 !important;
  }
  @media (min-width: 61.25em)
  {
  .c-tci__list .what-set-list h4{
   font-size: 22px;
   font-size: 1.9rem;
   line-height: 1.25;
  }
  }
  @media (min-width: 48em)
  {
  #what-set-apart-fourth-section #what-set-apart-head h3 {
   font-size: 38px;
   font-size: 3.6rem;
   line-height: 1.1;
   font-weight: 800 !important;
  }
  }
  @media (min-width:48em) {
  #location-picture-portion {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding-left: 0% !important
  }
  }
  @media(min-width:48em){
  #about-para{
   width: 50% !important;
   margin-top: 40%;
  
  }
  
  #about-title{
   width: 50% !important;
   margin-top: 5%;
  }
  #about-title-head{
   font-weight: 900;
   font-size: 64px;
  
   line-height: 77px;
   padding-bottom: 25px;
  }
  #about-title-head1{
   font-size: 32px;
   font-weight: 500;
   padding-bottom: 10px;
   padding-top: 40px;
  }
  }
  .what-set-inner-head{
  font-weight: 700;
  }
  .what-set-main-head h1{
  font-size: 60px;
  font-weight: 900;
  }
  @media(max-width:425px){
  .what-set-main-head h1{
   font-size: 28px;
   padding-bottom: 30px;
   padding-top: 20px;
  }
  .what-set-inner-head{
   font-size: 22px;
  }
  #what-set-apart-fourth-section .col-lg-6  p{
   font-size: 14px !important;
   
  }
  }
  @media(min-width:426px) and (max-width:768px){
  .what-set-main-head h1{
   font-size: 34px;
   padding-bottom: 30px;
  }
  .what-set-inner-head{
   font-size: 22px;
  }
  #what-set-apart-fourth-section .col-lg-6  p{
   font-size: 21px !important;
   
  }
  }
  @media(min-width:769px) and (max-width:1024px){
  .what-set-main-head h1{
   font-size: 50px;
  }
  #what-set-apart-fourth-section .what-set-main-head{
   margin-bottom: 50px;
   margin-top: 10px;
  }
  #what-set-apart-fourth-section .col-lg-6  p{
   font-size: 22px !important;
   
  }
  #what-set-apart-fourth-section .what-set-inner-head{
   padding-bottom: 20px;
   padding-top: 20px;
   
  }
  }
  @media(min-width:1025px){
  /* #what-set-apart-fourth-section .what-set-main-head{
   margin-bottom: 100px;
   margin-top: 20px;
  }
  #what-set-apart-fourth-section .what-set-inner-head{
   padding-bottom: 20px;
   padding-top: 20px;
   
  } */
  
  }
  @media(min-width:1441px){
  .third-section .middle-portion .row .inner-wrapper :nth-child(1){
   margin-left: 100px;
   text-align: right;
  }
  .third-section .middle-portion .row .inner-wrapper :nth-child(2){
   margin-right: -40px;
   text-align: center;
  }
  .third-section .middle-portion .row .inner-wrapper :nth-child(3){
   text-align: left;
  }
  /* #about-title-head{
   margin-top: 8%;
  }
  #about-title-head1{
   font-size: 24px;
   padding-bottom: 20px;
  }
  
  #reput-exc-head{
   font-size: 60px !important;
  } */
  /* .c-page-header__t {
   max-width: 800px;
  }
  #reput-exc-head-para{
   font-size: 30px !important;
  }
  .c-page-header__copy {
   width: 800px !important;
  } */
  #our-approch-para{
  font-size: 22px !important;
  padding-bottom: 55px;
  }
  .third-section .main-body-heading h1{
  font-size: 64px ;
  
  padding-bottom: 40px;
  }
  .third-section .container-wrapper{
  font-size: 34px ;
  margin: 10px 0px;
  font-family: 'Garamond';
  
  }
  
  .third-section .inner-wrapper{
  text-align: center;
  display: flex;
  background-color:  #ED254E;;
  width: 75%;
  border-radius: 2px solid;
  border-radius: 0px 100px 100px 0px;
  padding: 30px 0px;
  
  }
  .third-section .text-wrapper{
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Right Grotesk Text';
  
  }
  .third-section .text-wrapper h2{
  font-size: 22px !important;
  letter-spacing: 3px !important;
  line-height: 60px;
  }
  .third-section .text-wrapper p{
  font-size: 16px !important;
  text-align: center;
  }
  .third-section .main-image-wrapper img{
  height: 243px;
  width: 243px;
  }
  
  .third-section .img-wrapper img{
  width: 9%;
  }
  
  .what-set-main-head h1{
  font-size: 74px;
  padding-bottom: 50px;
  padding-top: 20px;
  }
  .what-set-inner-head{
  font-size: 30px;
  }
  #what-set-apart-fourth-section .col-lg-6  p{
  font-size: 22px !important;
  
  }
  #what-set-apart-fourth-section .col-lg-6 {
  margin-bottom: 60px;
  }
  .c-slides-nav {
  
  /* padding-top: 960px; */
  padding-top: 820px;
  top: 0;
  
  }
  .c-slides-nav .text{
  font-size: 20px;
  
  }
  .c-slides-nav .num span{
  padding: 8px;
  
   }

  #location-second-heading{
    font-size: 64px;
  }
  }
  
  @media (max-width:1440px) and (min-width:1024px) and (max-height:800px){
    /* First section start  */
  .c-page-header__wrap-inner {
    margin-top: 100px;
    }
    #reput-exc-head{
      font-size: 44px !important;
    }
    #reput-exc-head-para{
      font-size: 22px !important;
    }
    #reput-exc-main-head{
      font-size: 14px !important;
    }
    .c-page-header .c-slide__more .c-btn--more {  
      font-size: 14px;
      }
      /* First section end */
      /* Second section start  */
      #about-title-head{
        font-size: 50px !important;
        line-height: 60px !important;
        padding-bottom: 4px !important;
      }
      #our-approch-para{
        font-size: 19px !important;
      }
      #about-title-head1 {
        font-size: 24px !important;
        font-weight: 500;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    #about-para {
      width: 50% !important;
      margin-top: 34%;
    }
    .c-slide-line svg {
      margin-top: 4%;                              /* Changes from new svg line */
      }
      /* Second section end */

      /* Third section start */
      .third-section {
        padding-top: 95px;
        padding-bottom: 0px;
      }
      .third-section .main-body-heading h1 {
        font-size: 48px;
        padding-bottom: 30px;
    }
    .third-section .text-wrapper h2 {
      font-size: 20px !important;
      letter-spacing: 2px !important;
  }
  .third-section .text-wrapper p {
    font-size: 14px !important;
    text-align: center;
}
.third-section .img-wrapper img {
  width: 8%;
}
.third-section .main-image-wrapper img{
  height: 180px;
  width: 180px;
  }
  .third-section .container-wrapper {
    font-size: 24px;
    margin: 5px 0px;

}
.third-section .inner-wrapper {
  padding: 20px 0px;
}
.third-section .middle-portion .row .inner-wrapper :nth-child(1){
  
  text-align: right;
 }
 .third-section .middle-portion .row .inner-wrapper :nth-child(2){
  margin-left: 30px;
  text-align: center;
 }
 .third-section .middle-portion .row .inner-wrapper :nth-child(3){
  text-align: left;
  margin-left: 20px;
 }
      /* Third section end */

      /* Fourt section start */
      #what-set-apart-fourth-section .what-set-main-head{
        margin-bottom: 30px;
        margin-top: 0px;
       }
       #what-set-apart-fourth-section .what-set-main-head h1{
        font-size: 48px;
       }
       #what-set-apart-fourth-section .what-set-inner-head{
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 24px;
       }
       #what-set-apart-fourth-section .col-lg-6 p {
        font-size: 18px;
    }
      /* Fourth section end */
  }


  @media (max-width:425px) and (max-height:700px){
   
      /* Fourt section start */
 
      #what-set-apart-fourth-section .what-set-main-head{
        margin-bottom: 10px;
        margin-top: 0px;
       }
       #what-set-apart-fourth-section .what-set-main-head h1{
        font-size: 22px;
       }
       #what-set-apart-fourth-section .what-set-inner-head{
        padding-bottom: 2px;
        padding-top: 2px;
        font-size: 14px;
       }
       #what-set-apart-fourth-section .col-lg-6 p {
        font-size: 10px;
    }
      /* Fourth section end */
  }

@media(max-width:425px) and (max-height:500px){
    /* Fourt section start */
 
    #what-set-apart-fourth-section .what-set-main-head{
      margin-bottom: 16px !important;
      margin-top: 0px !important;
     }
     #what-set-apart-fourth-section .what-set-main-head h1{
      font-size: 20px !important;
     }
     #what-set-apart-fourth-section .what-set-inner-head{
      padding-bottom: 2px !important;
      padding-top: 2px !important;
      font-size: 12px  !important;
     }
     #what-set-apart-fourth-section .col-lg-6 p {
      font-size: 8px !important;
  }
    /* Fourth section end */
}

@media(max-width:1440px) and (max-height:700px){
  #animation-section{
    overflow: auto;
  }
}
  /* ----------------- for location page------------ */

  /* Location Page code */
  #Loc-image-section .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

#Loc-image-section .content {
    position: relative;
    /* width: 90%;
max-width: 400px; */
    width: 100%;
    max-width: 550px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

#Loc-image-section .content:hover .content-overlay {
    opacity: 1
}

#Loc-image-section .content-image {
    width: 100%
}

#Loc-image-section img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

#Loc-image-section .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

#Loc-image-section .content-details h3 {
    color: #fff;
    font-weight: 500;
    /* letter-spacing: 0.15em; */
    margin-bottom: 0.5em;
    text-transform: none;
    color: #ED254E;
    font-size: 18px;
    font-weight: 600;
}

#Loc-image-section .content-details p {
    color: #fff;
    font-size: 0.9em
}

#Loc-image-section .fadeIn-bottom {
    top: 80%
}
@media(max-width:425px) {
  #location-second-heading{
    font-size: 28px !important;
    margin-top: 40px;
  }
  #Loc-image-section .content .content-overlay {
    opacity: 1 !important;
}
#Loc-image-section .content .content-details {
  top: 50% !important;
  left: 50% !important;
  opacity: 1 !important;
}
#Loc-image-section .content-details h3 {
  font-size: 12px;
  font-weight: 600;
}

#Loc-image-section .content-details p {
  font-size: 0.4em
}
}
@media(min-width:425px) and (max-width:768px){
  #location-second-heading{
    font-size: 40px !important;
  }
  #Loc-image-section .content .content-overlay {
    opacity: 1 !important;
}
#Loc-image-section .content .content-details {
  top: 50% !important;
  left: 50% !important;
  opacity: 1 !important;
}
#Loc-image-section .content-details h3 {
  font-size: 14px;
  font-weight: 600;
}

#Loc-image-section .content-details p {
  font-size: 0.5em
}
}




@media (max-width:768px)  and (max-height:600px){
     /* First section start  */
  .c-page-header__wrap-inner {
    margin-top: 80px;
    }
    #reput-exc-head{
      font-size: 30px !important;
    }
    #reput-exc-head-para{
      font-size: 16px !important;
    }
    #reput-exc-main-head{
      font-size: 18px !important;
    }
    .c-page-header .c-slide__more .c-btn--more {  
      font-size: 14px;
      }
      .c-page-header__t {
        margin-top: 10%;
    }
      /* First section end */
      /* Third section start */

  .third-section .main-body-heading h1 {
    font-size: 30px;
    padding-bottom: 20px;
}
.third-section .text-wrapper h2 {
  font-size: 14px !important;
  letter-spacing: 2px !important;
}
.third-section .text-wrapper p {
font-size: 8px !important;
text-align: center;
}
.third-section .img-wrapper img {
width: 8%;
}
.third-section .main-image-wrapper img{
height: 100px;
width: 120px;
}
.third-section .container-wrapper {
font-size: 14px;
margin: 5px 0px;

}
.third-section .inner-wrapper {
padding: 20px 0px;
}

  /* Third section end */


    /* Fourt section start */
    #what-set-apart-fourth-section .what-set-main-head{
      margin-bottom: 0px !important;
      margin-top: 0px;
     
     }
     #what-set-apart-fourth-section .what-set-main-head h1{
      font-size: 24px;
      padding-bottom: 10px !important;
     }
     #what-set-apart-fourth-section .what-set-inner-head{
      padding-bottom: 5px;
      padding-top: 5px;
      font-size: 14px;
     }
     #what-set-apart-fourth-section .col-lg-6 p {
      font-size: 10px !important;
  }
    /* Fourth section end */
}
@media (min-width:769px) and (max-width:1024px) and (max-height:600px){
  /* Third section start */

  .third-section .main-body-heading h1 {
    font-size: 40px;
    padding-bottom: 30px;
}
.third-section .text-wrapper h2 {
  font-size: 16px !important;
  letter-spacing: 2px !important;
}
.third-section .text-wrapper p {
font-size: 12px !important;
text-align: center;
}
.third-section .img-wrapper img {
width: 8%;
}
.third-section .main-image-wrapper img{
height: 140px;
width: 140px;
}
.third-section .container-wrapper {
font-size: 22px;
margin: 5px 0px;

}
.third-section .inner-wrapper {
padding: 20px 0px;
}

  /* Third section end */


  /* Fourt section start */
  #what-set-apart-fourth-section .what-set-main-head{
    margin-bottom: 0px !important;
    margin-top: 0px;
   
   }
   #what-set-apart-fourth-section .what-set-main-head h1{
    font-size: 34px;
    padding-bottom: 10px !important;
   }
   #what-set-apart-fourth-section .what-set-inner-head{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
   }
   #what-set-apart-fourth-section .col-lg-6 p {
    font-size: 16px !important;
}
  /* Fourth section end */
}