@font-face {
  font-family: 'Termina Test';
  src: url(../fonts/TerminaTest/TerminaTest-Black.otf) format("opentype");
  }
  @font-face {
  font-family: 'Termina Test Medium';
  src: url(../fonts/TerminaTest/TerminaTest-Medium.otf) format("opentype");
  }
  @font-face {
  font-family: 'Termina Test Bold';
  src: url(../fonts/TerminaTest/TerminaTest-Bold.otf) format("opentype");
  }

/* tab responsive by wirdan  */

@media (max-width:768px) {
/* first section home page  */
  h1.c-slide__title{
    font-size: 3rem!important;
  }
  
  .c-slide--type-1 .c-slide__copy p,
    .c-slide--type-1 .c-slide__copy li {
        font-size: 1.1rem;
        line-height: 22px;
        padding-right: 127px;
    }
    /* what we do section  */
    .our-area-h2{
      /* font-size: 1.5rem; */
    }
    .section.c-slide.c-slide--type-2 {
      /* min-height: 115vh; */
    }
  
  .c-slide__copy p,
  .c-slide__copy li {
      font-size: 1rem;
      line-height: 20px;
  }
  .c-slide--type-3 .c-slide-line {
    padding-bottom: 0px;
}
/* footer in tab  */
.c-footer ul li a {
    font-size: 15px;
}

}
/* nexthub responsiveness */
.c-slides__slide.c-slides__slide--type-4.active.go{
  overflow: auto;
}
/* mobile responsive home*/
@media (max-width:500px){
  /* first section  */
  h1.c-slide__title{
    font-size: 2rem!important;
  }
  .c-slide--type-1 .c-slide__copy p,
    .c-slide--type-1 .c-slide__copy li {
        padding-right: 0;
    }
    /* footer section  */
    .c-slide--type-4 .c-slide__wrap{
      padding-top: 0;
    }
}
@media (max-height:773) {
  /* monday be here  */
}
/* ----------------------- style by shoaib----------- */
.image-section .real-estate{
  width: 283px;
  height: 86px;
  left: 579px;
  top: 981px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}